<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base :: Layout(~{::#content})">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
<h1>Hello Dear My Name is Anuran pradhan</h1>


<div id="content" class="banner">
<div class="font-weight-bold text-center">
<h1>Smart Contact Manager</h1>
<p>starts collecting your contact in a smarter way. We handle your contact in a very smarter way</p>
<button class="btn bg-primary btn-lg text-white">Get Started</button>

</div>

</div>



</body>
</html>